*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Principal;
    src: url(fonts/Helvetica\ Neue\ LT\ Pro\ 95\ Black.otf);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
        background-color: #081a30;
}

::-webkit-scrollbar-thumb {
    background-color: #007398;
    border-radius: 25px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover {
    background: #006385;
    transition: .5s;
  }

body{
    font-family: Principal;
    color: #007398;
    background-image: url(assets/Mustang_PrivyBackground-R3.jpg);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: .5s;

    a{
    text-decoration: none;
    color: #007398;

    &:hover{
        color: #f5f5f5;
        transition: .5s;
    }
    }
}

nav ul{
    width: 50%;
    height: 3em;
    display: flex;
    align-items: center;
    margin-top: 2em;  
    justify-content: space-around;
    list-style-type: none;
    background:  #12225b;
    box-shadow: 0px 7px 49px 30px #1f268783;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    letter-spacing: .1em;
}

input[type="checkbox"]{
    display: none;
}

label{
    display: none;
}

header{
    height: 30vh;
}

#optionsm{
    display: none;
}

header img{
    margin-top: 6em;
    width: 75%;
}

.banner{
    display: flex;
    justify-content: center;
}

#vinyl{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 4em;
    video{
        height: auto;
        width: 520px;
        mask-image: linear-gradient(
            360deg, black 80%, transparent
        );
    }
}

#vinyl{
    video:playing{
    position: absolute;
}
}

.tocavinilos{
    display: flex;

    img{
        width: auto;
        height: 270px;
    }

}

.portada{
    z-index: 1;
}

#loop{
    font-size: 28.2px;
}

#loop p span:hover{
    color: #007398;
    cursor: pointer;
    transition: 0.5s;
}

#loop p span:not(:hover){
    color:  #ffffff;
    transition: 0.5s;
}



.scroll {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
}

.scroll div{
    white-space: nowrap;
}

.item {
    width: 500px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(500px * 10), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} 

.item1 {
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 10 * (10 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 10 * (10 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 10 * (10 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(30s / 10 * (10 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(30s / 10 * (10 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(30s / 10 * (10 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(30s / 10 * (10 - 8) * -1);
  }
  
  .item9 {
    animation-delay: calc(30s / 10 * (10 - 9) * -1);
  }
  
  .item10 {
    animation-delay: calc(30s / 10 * (10 - 10) * -1);
  }

.scroll:hover .item{
    animation-play-state: paused;
}

@keyframes scrollLeft {
    to {
      left: -200px;
    }
}

@keyframes vuelta {
from{
    transform: rotate(0deg)
}
to{
    transform: rotate(360deg);
}
}

#about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about h2{
    letter-spacing: .3em;
}

#about .LYRICS p span{
    transition: .2s;
    cursor: pointer;
}

#about .LYRICS p span:hover{
    color: white;
    transition: .2s;

}

#about aside{
    display: flex;
    gap: 4em;
    margin-top: 2em;
}

#about .LYRICSTWO p span{
    transition: .2s;
    cursor: pointer;
}

#about .LYRICSTWO p span:hover{
    color: white;
    transition: .2s;

}

.animation{
    margin-left: -8.3em;
    z-index: 0;
animation: vuelta;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}


footer video{
    width: 100%;
    height: auto;
    mask-image: linear-gradient(
        360deg, black 80%, transparent
    );
}

#creditos{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.Credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20em;
}

.Credits img{
    mask-image: linear-gradient(
        180deg, black 80%, transparent
    );
}

.Credits aside p span{
    transition: .4s;
    cursor:pointer;
}

.Credits aside p span:hover{
    color: white;
    transition: .4s;
}

.socials{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 2em;
}

.socials img{
    width: 3em;
}

.socials img:hover{
    fill: #ffffff;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #007398; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }

  #myBtn img{
    rotate: -45deg;
    transition: .2s;
  }

  #myBtn img:hover{
    transition: .2s;
    rotate: 0deg;
  }
  
  #myBtn:hover {
    background-color: #08192d; 
  }

  .socials div{
    display: flex;
    flex-direction: column;
  }


@media only screen and (max-width: 1050px) {
    header{
        height: 40vh;
    }
    #vinyl{
        flex-direction: row;
        video{
            height: auto;
            width: 360px;
        }
    }
    #loop{
margin-top: 4em;
    }

    #about aside{
        gap:2em;
        text-align: center;
    }
  }

  @media only screen and (max-width: 960px) {

    #about aside{
        flex-direction: column;
    }
    #creditos{
        flex-direction: column;
    }
    .Credits{
        margin-right: 0;
    }
    .socials{
        margin-top: 2em;
    }
    .socials div{
        flex-direction: row;
    }
}

  @media only screen and (max-width: 850px) {
    #vinyl{
        margin-top: 3em;
        flex-direction: column;
        video{
            height: auto;
            width: 560px;
        }
    }

    #loop{
        margin-top: 10em;
    }

  }


@media only screen and (max-width: 600px) {
    header{
        height: 30vh;
    }
    #vinyl{
        flex-direction: column;
        video{
            height: auto;
            width: 360px;
        }
    }
    #loop{
margin-top: 7em;
    }

    #options{
        display: none;
    }

    nav div{
        display: flex;
        position: absolute;
        top:1em;
        right: 1em
    }

    label{
        display: block;
        img{
            width: 40px;
        }
    }

    #ham:checked ~ #optionsm{
        display: flex;
        justify-content: center;
        position: absolute;
        top:2.5em;
        right: 0;
        text-align: right;
        width: 8em;
        height: 8em;
        box-shadow: none;
        background-color: #08192d;
        border-radius: 25px;
        background: rgba( 9, 29, 54, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
    }

    #optionsm ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav ul{
        width: 100%;
        height: 0em;
        margin-top: 4em;
        box-shadow: none;
    }


  }

@media only screen and (max-width: 450px) {

    .Credits aside{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .Credits img{
        width: 60%;
    }

    .Credits p{
        width: 50%;
    }
    .tocavinilos{
        img{
            height: 200px;
        };
    }

    header{
        height: 25vh;
    }

    .animation{
        margin-left: -6.1em;
    }
}